/* RESET */
*,:before,:after {margin: 0; padding: 0; color: inherit; text-decoration: inherit; font-style: inherit; border: 0 solid transparent; outline: 0 solid transparent; background: transparent none center center no-repeat; box-sizing: border-box;}
ul, ol, li {list-style: none;}
table {table-layout: fixed;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
label, button, [type=button], [type=submit], [type=reset], a {cursor: pointer;}


/* CLASS */
.clearfix:after {content: ""; display: block; clear: both;}
.ellipsis {text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.hidden {display: none; width: 0; height: 0; visibility: hidden; opacity: 0;}
.bold {font-weight: 700;}

/* GLOBAL */
[type=checkbox], [type=radio] {display: none;}
.inner {display: block; position: relative; margin: auto; width: 1000px; height: 100%; overflow: hidden;}
.inner:after {content: ""; display: block; clear: both;}

.portinner {display: block; position: relative; margin: auto; width: 1500px; height: 100%; overflow: hidden;}
.portinner:after {content: ""; display: block; clear: both;}

.stop-scrolling {height: 100%; overflow: hidden;}


