/*헤더부분*/
header {position: relative; overflow: hidden; border-bottom: 1px solid #1b218f; border-top: 5px solid #1b218f; height: 130px;}
header img {float: left; margin: 43px 150px 43px 0;}
header nav {float: right; margin-top: 62px;}
header nav ul {overflow: hidden;}
header nav ul li {float: left; color: #444; font-weight: 700;}
header nav ul li+li {margin-left: 46px;}
header .gnb {text-transform: uppercase; font-size: 10px; position: absolute; top: 12px; right: 0;}
header .gnb span+span {margin-left: 14px;}
header .gnb span {position: relative;}
header .gnb span+span:before {content: ""; top: 2px; left: -8px; width: 1px; height: 10px; background-color: #666; position: absolute; right: -10px;}

/*푸터부분*/
footer {padding: 10px;background-color: #3d5674; height: 110px; font-size: 12px; color: #fff;}
footer img {float: left; margin: 32px 90px 45px 0; }
footer nav ul {overflow: hidden;}
footer nav ul li {float: left; margin-right: 20px;}

/*슬라이더 부분*/
.slider {}
.slider .sliderframe {position: relative; height: 362px; overflow: hidden;}
.slider .sliderframe ul {overflow: hidden; width: 500%; height: 100%; transition: margin-left 0.5s;}
.slider .sliderframe ul li {float: left; width: 20%; background-color: gray; height: 100%; counter-increment: page; text-align: center;}
.slider .sliderframe ul li label {display: none; position: absolute; line-height: 30px; color: white; font-size: 1.6em; font-weight: bold; top: 50%; margin-top: -15px; opacity: 0.6; text-shadow: 2px 2px 2px rgba(0,0,0,0.5); cursor: pointer;}
.slider .sliderframe ul li label:hover {opacity: 1;}
.slider .sliderframe ul li .prv {left: 100px;}
.slider .sliderframe ul li .next {right: 100px;}

#pg1:checked~ul {margin-left: 0;}
#pg2:checked~ul {margin-left: -100%;}
#pg3:checked~ul {margin-left: -200%;}

#pg1:checked~#brand h2,
#pg1:checked~#brand p1,
#pg2:checked~#brand h1,
#pg2:checked~#brand p,		
#pg3:checked~#brand h3,
#pg3:checked~#brand p2 {display: block;}

#pg1:checked~ul li:nth-child(1) label {display: block;}
#pg2:checked~ul li:nth-child(2) label {display: block;}
#pg3:checked~ul li:nth-child(3) label {display: block;}

/*테이블부분*/
table {width: 100%; height: 698px; border-collapse: collapse; margin-bottom: 30px;}
table col {width: 25%;}
table td {overflow: hidden; padding: 20px 20px 0; height: 250px; vertical-align: top; border: 1px solid #ddd;}
table tr:nth-child(1) td:nth-child(2) {background-image: url(../img/bg_1.jpg); background-position: 100% 100%;}
table tr:nth-child(1) td:nth-child(3) {background-image: url(../img/bg_2.jpg); background-size: 100% 100%;}
table tr:nth-child(1) td:nth-child(4) {background-image: url(../img/bg_3.jpg); background-position: 50% 100%;}
table tr:nth-child(2) td:nth-child(1) {background-image: url(../img/bg_4.jpg); background-size: 100% 100%;}
table tr:nth-child(2) td:nth-child(2) {background-image: url(../img/bg_5.jpg); background-position: 100% 100%;}
table tr:nth-child(2) td:nth-child(3) {background-image: url(../img/bg_6.jpg); background-size: 100% 100%;}
table tr:nth-child(3) td:nth-child(1) {background-image: url(../img/bg_7.jpg); background-position: 10% 95%;}
table h2 {float: left; font-weight: 700; text-transform: uppercase; font-size: 18px;}
table .more a {position: relative; float: right; font-size: 11px; color: #888; margin-top: 7px; padding-right: 7px;}
table .more a:after {content: ""; position: absolute; top: 4px; right: 0px; border-width: 3px 0 3px 3px; border-left-color: #888;}

table .title {margin-bottom: 20px;}
table .side b {color: #4b5265; font-size: 14px; line-height: 1.6;}
table .side .pic {margin: 40px 0 25px 0;}
table .side ul {margin-top: 25px; margin-left: 15px;}
table .side ul li {list-style: disc; color: #888; font-size: 12px; font-weight: 700; margin-bottom: 10px; white-space: nowrap;}

table p {font-size: 12px; color: #666; font-weight: 700; line-height: 1.6; text-align: justify; margin-bottom: 24px;}
table .infogogo {background-color: #4cb8bb; border-radius: 4px; padding: 4px; font-size: 12px; color: white; font-weight: 700; width: 90px; text-align: center; margin-top: 20px;}
table .infogogo2 {background-color: #4cb8bb; border-radius: 4px; padding: 4px; font-size: 12px; color: white; font-weight: 700; width: 69px; text-align: center; margin: 0px 0 5px 135px;}
table .helper {margin-top: 30px;}

table .newsdiv .img {float: left;}

table span {font-size: 12px; color: #666; font-weight: 700; line-height: 1.6; text-align: justify;}
table strong {font-size: 14px;}

table .socialpage {margin-top: 10px;}
table .socialpage a {margin-right: 5px;}

table .newimg {float: left; margin-right: 10px;}
table .newsdiv {height: 80px;}
table .newsdiv1 {margin-bottom: 10px; border-bottom: 1px dashed #dddddd; padding-bottom: 10px;}
table .newsdiv b {font-family: 'Dotum', sans-serif; color: #2c7651; font-size: 12px; margin-top: 4px; margin-left: 100px;}
table .newsdiv b:after {content: " ]";}
table .newsdiv b:before {content: "[ ";}
table .newsdiv1 b {font-family: 'Dotum', sans-serif; color: #2c7651; font-size: 12px; margin-top: 4px; margin-left: 100px;}
table .newsdiv1 b:after {content: " ]";}
table .newsdiv1 b:before {content: "[ ";}

/*파트너부분*/
.partner {text-align: center; margin-bottom: 30px; }
.partner img {border-top: 1px dashed #dddddd; border-bottom: 1px dashed #dddddd; padding-top: 5px;}